

main, section, footer{
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
}

a{
        text-decoration: none;
}
a:hover { text-decoration:none !important }


.vertical_array{
    flex-direction: column;
    vertical-align: baseline;
    align-items: stretch;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
}

.font_basic_font{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}


#top_header{
        text-align: center;
    width: 100%;
    height: 60px;
    position: fixed;
    background-color:  white;
    border-bottom: 1px solid gray;
    align-items: center;
    top: 0;
    z-index: 10;
}

.upper_bar{
    width: 975px;
    height: 60px;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

#insta_logo{
    flex-grow: 1;
    justify-content: flex-start;
    width: 300px;
}


#instagram_logo{
    height: 29px;
    position: relative;
}

#search_bar{
    flex-basis: 268px;
}

#upper_right_nav{
    flex-grow: 1;
    justify-content: flex-end;
    width: 300px;
}

#upper_right_nav_div{
    width: 278px;
    height: 24px;
    justify-content: space-between;

}

.nav_icons{
    width: 24px;
    height: 24px;
}

.circle_img{
    border-radius: 50%;
}

.medium_size_img_111{
    width: 32px;
    height: 32px;

}

main {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    width: 100%;
    margin-top: 60px;
}

#main_container {
    width: 100%;
    padding: 30px;
}

#main_container_1{
    flex-grow: 1;
    vertical-align: baseline;
    flex-shrink: 0;
    margin: auto;
    width: 100%;
    max-width: 935px;
    padding: 0;
}

@media (min-width: 640px){
#main_container_1{
    padding-top: 30px;
}
}

#post_area {
    flex-grow: 1;
    /*flex-flow: row nowrap;*/
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    /*float: left;*/
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
}

.post_post{
    max-width: 614px;
    margin-bottom: 30px;
    padding: 0;
    justify-content: flex-start;
    border: 1px solid #dbdbdb;
}

.post_title_area_111{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
}

.post_title_area_111_inside{
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    padding: 14px 4px 14px 16px;
}

.post_title_area_111_inside>div {
    display: block;
    height: fit-content;
    width: fit-content;
    flex-shrink: 0;
}



.profile_id {
    margin-left: 14px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    /*flex-direction: column;*/
    align-items: flex-start;
}
.profile_id>div {
    text-align: left;
}

.post_picture_img{
    height: 614px;
    width:  614px;
    flex-basis: 614px;
    flex-shrink: 1;
}

.profile_menu_dotdotdot{
    padding-right: 8px;
    flex-shrink: 0;

}

.my-modal-active-btn{
    cursor: pointer;
}

.post_main_picture_img{
    height: 614px;
    width:  614px;
    flex-basis: 614px;
    flex-shrink: 1;
}

.post_under_area{
    justify-content: flex-start;
    align-content: stretch;
}

.post_under_area_1{
    min-width: 335px;
    width: 100%;
    flex-shrink: 0;
}

.like_icon_section {
    padding-left: 16px;
    padding-right: 16px;
    /*margin-top: -34px;*/
    padding-bottom: 8px;
    padding-top: 6px;
    align-items: stretch;
    box-sizing: border-box;
    flex-shrink: 0;
    vertical-align: baseline;
}

.like_icon_etc{
    display: inline-block;
    vertical-align: baseline;
    pointer-events: auto;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    ;
}

.svg_like_icons_etc{
    margin-left: 8px;
    margin-top: 8px;
}

#like_icon {
    margin-left: -8px;
}

#reply_icon {
}

#dm_icon {
}

#tag_icon {
    margin-left: auto;
    margin-right: -10px;
}

.like_text {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    align-items: stretch;
    box-sizing: border-box;
    flex-shrink: 0;
    vertical-align: baseline;
    justify-content: flex-start;
}

.like_text>div {
    min-height: 0;
    min-width: 0;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    vertical-align: baseline;
}

.like_text>div>div {
    margin: auto;
    display: block;
    vertical-align: baseline;
    pointer-events: auto;
}

.like_text>div>div>div {
    display: inline!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
}

.see_more_reply {
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 400;
}

.id_id {
    font-weight: 600;
}

.content_content{
    display: block;
    width: 400px;
    margin-left: 10px;
    font-weight: 400;
     text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    /*display: -webkit-box;*/
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.post_text_reply {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    display: inline-block!important;
    line-height: 24px;
}

.post_text_reply_inner {
    margin-left: 15px;
    margin-right: 15px;
}

.reply_input_section {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-top: 18px;
    flex-shrink: 0;
    pointer-events: auto;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #dbdbdb;
    flex-grow: 1;
    justify-content: center;
}

.reply_textarea {
    display: inline-block!important;
    resize: none;
    height: 18px;
    flex-grow: 1;
    max-height: 80px;
    border: 0;
    outline: 0;
    /*width: 0;*/
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}


.post_button_111 {
    display: block;
    color: rgba(var(--d69, 0, 149, 246),1);
    opacity: .3;
    pointer-events: none;
    appearance: none;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    user-select: none;
    width: auto;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    /*all: unset;*/
}

footer {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin: 0;
    top: 100px;
    width: 100%;
    max-width: 293px;
    height: 100vh;
    margin-bottom: 30px;
    position: fixed;
    padding-top: 20px;
    left: 960px;
    /*left: 56%;*/
    /*transform: translateX(43%);*/
}

#my_profile_box{
    height: auto;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 10px;
    margin-right: 4px;
    align-items: center;
    justify-content: space-between;
}

#my_profile_box_1{
    flex-grow: 0;
}

.big_size_img{
    width: 56px;
    height: 56px;
    cursor: pointer;
}

#profile_id_name{
    justify-content: flex-start;
    flex-grow: 1;
    margin-left: 15px;
    align-content: space-around;
}
#profile_id_id{
    color: rgba(var(--i1d,38,38,38),1);
}

#profile_name_name{
    color: rgba(var(--f52,142,142,142),1);
}

#account_change_div{
    display: block;
    font-weight: 600;
    cursor: pointer;
    flex-grow: 0;
    width: auto;

}
#account_change{
    color: #0095f6;
    position: relative;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /*opacity: .8;*/
    align-items: stretch;
    appearance: none;
    text-align: center;
    text-overflow: ellipsis;
    user-select: none;
    border: 0;
    background-color: transparent;

}

#recommendation_profile{
    width: calc(100% + 32px);
}

#recommendation_profile_1{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 12px;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

#recommendation_profile_2{
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    color: rgba(var(--f52,142,142,142),1);
}

#see_all_recommendation{
    display: block;
    color: rgba(var(--i1d,38,38,38),1);
    font-size: 12px;
    line-height: 16px;
}


#insta_info{
    flex-wrap: wrap;
    justify-content: space-between;
}

#insta_info_1{
    margin-bottom: 16px;
    max-width: 100%;
    align-items: stretch;
}

#insta_info_2{
    margin-right: 0;
    margin-left: 0;
    margin-top: 30px;
    flex-grow: 1;
    margin-bottom: 3px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
}
.insta_infos{
    color: rgba(var(--edc,199,199,199),1);
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    display: inline-block;
}

.insta_infos:not(:last-of-type)::after{
    content: '\00B7';
    color: rgba(var(--edc,199,199,199),1);
    margin: 0 .25em 0 .25em;

}






#post-btn-1{
    cursor: pointer;
}



/*modal===================================*/


#my-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    transition: opacity 0.5s;
}

#my-modal-active-btn_1{
    cursor: pointer;
}

.my-modal-case, #my-modal-case{
    width: 260px;
    flex-shrink: 1;
    justify-content: center;
    max-height: calc(100% - 40px);
    flex-direction: column;
    align-items: stretch;
    position: relative;
}
@media (min-width: 736px) {
    .my-modal-case , #my-modal-case{
        width: 400px;
    }
}

.my-modal, #my-modal {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}


.my-modal-btn {
    background-color: transparent;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    min-height: 48px;
    padding: 8px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    display: inline-block;
    border: 0;
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
}

.btn1{
    color: rgba(var(--i30,237,73,86),1);
    font-weight: 700;
    border: 0;
}

.btn2{
    color: rgba(var(--i30,237,73,86),1);
    font-weight: 700;
}


.no-scroll{
    overflow: hidden;
}
































