#feedModal {
    padding: 24px 64px;
    box-sizing: border-box;
}

.close {
    padding: 0;
}

#feedModalPop {
    max-width: 1500px;
    width: 95%;
    max-height: 950px;
    height: 95%;
    overflow: auto;

    border-radius: 5px;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}
.feedContents {
    max-width: 550px;
    width: 100%;
    max-height: 950px;
    height: 100%;
}


.feedImage {
    max-width: 950px;
    width: 100%;
    max-height: 950px;
    height: 100%;
    background-color: #0095f6;
    aspect-ratio: 1/1;
    flex-basis: 950px;
}

.feedProfile {
    width: 100%;
    height: 60px;
    box-shadow: 0 1px #dbdbdb;
}

.feedInnerContent {
    width: 100%;
    height: 688px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0 1px #8e8e8e;
}

.feedReaction {
    width: 100%;
    height: 202px;
    display: flex;
    flex-direction: column;
}

.feedReaction > div {
    width: 100%;
}

.feedProfile > div {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* 프로필 이미지 */
.profile_icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0095f6;
    margin-right: 12px;

}

.feedProfile > div > span {
    width: 380px;
    font-size: 14px;
    font-weight: bold;
}

.feedProfile > div > i {
    font-size: 20px;
}

.feedInnerContent > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.content_inner {
    width: 350px;
    height: 150px;
    font-size: 14px;
}

.profile_name {
    font-weight: bold;
}

.reaction_icons {
    width: 100%;
    height: 55px;
    padding: 6px 16px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reaction_icons > button {
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,-1);
    border: 0;
}

.reaction_date {
    font-size: 12px;
    color: #8e8e8e;
    margin: 10px 0 0 18px;

}

.reaction_comment {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    box-shadow: 0 -1px #dbdbdb;
}