/* 모달 배경을 검게 만들어줌 */
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* 모달 내용물이 들어갈 그릇 */
.modalWindow {
    /*background-color: red;*/
    position: relative;
    width: 100%;
    height: 100%;
}

/* 모달 내용물 */
.modalPopup {
    /* 화면 정 가운데에 놓을 수 있게하는 코드 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,0.7);

    width: 790px;
    height: 833px;

    border-radius: 15px;
}