/* 바디 전체 색상 지정 */
body {
    background-color: #fafafa;
    margin: 0;
}


/**/
/**/
/* 1. 헤더 파트 */
/**/
/**/


/* 헤더 전체에 적용할 색상 값 지정 */
header {
    background-color: white;
    width: 100%;
    height: 60px;
    /* 박스 그림자 : x축 y축 색상 */
    box-shadow: 0 1px #dbdbdb;
    /*border: 1px solid #dbdbdb;*/
    position: fixed;
    z-index: 4;
    top: 0;
}

/* 내비게이션 바 전체 */
.nav_bar {
    /*background-color: gold;*/
    max-width: 975px;
    height: 60px;
    padding: 0 20px;
    margin: auto;
}

/* 내비게이션 하위 태그를 감싸는 div의 속성 */
.nav_wrap {
    width: 975px;
    height: 60px;
    /* 하위 아이템을 수평, 수직 가운데 정렬하는 코드 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 헤더 홈버튼 영역 div */
.homebtn_wrap {
    /*background-color: palevioletred;*/
    width: 333.5px;
    height: 39px;
    display: flex;
}

/* 헤더 검색 영역 div */
.searchbar_wrap {
    background-color: #efefef;
    width: 268px;
    height: 36px;
    border-radius: 8px;
    padding: 3px 16px;
    box-sizing: border-box;
}

/* 헤더 아이콘 영역 div */
.icons_wrap {
    /*background-color: cornflowerblue;*/
    width: 333.5px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
}

/* 헤더 홈버튼 a */
.homebtn_a {
    width: 333.5px;
    height: 39px;
}

/* 헤더 홈버튼 플렉스 div */
.homebtn_flex {
    width: 333.5px;
    height: 39px;
    display: flex;
}

/* 헤더 홈버튼 이미지 div */
.homebtn_img_wrap {
    width: 103px;
    height: 29px;
    margin-top: 7px;
}

/* 헤더 홈버튼 이미지 image */
.homebtn_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/*.searchbar_wrap > div, .searchbar_wrap > div >input {*/
/*    width: 268px;*/
/*    height: 36px;*/
/*}*/

/* 헤더 검색 인풋 태그 */
.searchbar_input {
    width: 236px;
    height: 35px;
    font-size: 16px;
    background: rgba(255, 255, 255, -1);
    border: 0;
    outline: 0;
    line-height: 18px;
    z-index: 3;
    top: 12px;
    position: absolute;
    box-sizing: border-box;
}

/* 헤더 검색 인풋 태그에 이미지 넣기 */
.searchbar_input {
    background-image: url("https://super.so/icon/dark/search.svg");
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 5px;
    text-indent: 30px;
}
/* 헤더 인풋에 포커스가 들어가면 검색버튼 끄기 */
.searchbar_input:focus {
    background-image: none;
    text-indent: 0;
}

/* 헤더 검색 가짜 인풋1 div */
.searchbar_fake_input1 {
    width: 268px;
    height: 36px;
    padding: 0 16px;
    position: absolute;
    top: 18px;
    left: 43%;
    z-index: 2;
}

/* 헤더 검색 가짜 인풋2 div */
.searchbar_fake_input2 {
    width: 236px;
    height: 25px;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

/* 헤더 검색 아이콘 i */
.searchbar_icon {
    width: 16px;
    height: 16px;
    top: 32px;
    color: grey;
    margin-right: 12px;
}

/* 헤더 검색 span */
.searchbar_span {
    font-size: 16px;
    color: grey;
    top: 28px;
}

/* 헤더 아이콘 flex div */
.icons_flex {
    width: 278px;
    height: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-left: 24px;
}

/* 헤더 아이콘 상위 태그 div */
.icons_div {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    align-items: stretch;

}

/* 헤더 아이콘 사이즈 일괄 */
.icons_icons {
    width: 100%;
    height: 100%;
    background-size: cover;

    color: black;
}


