#mypage_modal_bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    transition: opacity 0.5s;
}

.mypage_modal_case, #mypage_modal_case{
    width: 70%;
    height: 80%;
}

.mypage_modal, #mypage_modal {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.mypage_modal_close {
    background: none;
    border: none;
    color: white;
    font-size: 30px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    position: absolute;
    right: 0;
    top: 0;

    margin-top: 20px;
    margin-right: 30px;
}

.modal_leftbox {
    width: 60%;
    height: 100%;
}

.modal_rightbox {
    float: right;
    width: 40%;
    height: 100%;
}

.modal_rightbox_header {
    margin-left: 30px;
    margin-top: 15px;
    height: 7%;
}

.modal_rightbox_body {
    margin-left: 30px;
    height: 70%;
}

.modal_rightbox_cmt {
    margin-left: 30px;
    height: 7%;
}

.modal_img {
    width:100%;
    height:100%;
}

.comment_saved {
    margin-top: 30pt;
}

.comment {
    width: 70%;
    border: none;
}

.comment_btn {
    background-color: white;
    border: none;
    color: deepskyblue;

    float: right;
    margin-right: 10pt;
}