<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <title>login</title>

    <link rel="stylesheet" href="../static/css/login.css">
<

    <script>
        {% if msg %}
            alert("{{ msg }}")
        {% endif %}
        // ['쿠키'라는 개념에 대해 알아봅시다]
        // 로그인을 구현하면, 반드시 쿠키라는 개념을 사용합니다.
        // 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
        // 쿠키가 있기 때문에, 한번 로그인하면 네이버에서 다시 로그인할 필요가 없는 것입니다.
        // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.
        function login() {
            $.ajax({
                type: "POST",
                url: "/login",
                data: {id_give: $('#ph1').val(), pw_give: $('#jaypark').val()},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }

    </script>
</head>
<body>
<div class="maindiv">

    <div class="maindiv">

        <div class="lefimg">

            <img style="float: right; width: 500px;height: 600px;margin-left:350px; " src="https://image.newdaily.co.kr/site/data/img/2015/05/05/2015050500023_0.jpg">

        </div>

      <div class="rightdiv">
        <div class="rightdiv2">
          <div class="rightmain">
            <div class="instalogo" ><img style="width: 200px"
                                                                 src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png">
            </div>

            <div>
              <div class="form-floating mb-19">
                <input type="email" class="form-control"
                       style="font-size: 14px; height: 24px; color: gray;margin-top: 40px;margin-bottom: 30px"
                       id="ph1"
                       placeholder="name@example.com">

                <label for="floatingInput" style="font-size: 15px;padding: 4px 10px;">ID</label>

                <label for="floatingInput" style="font-size: 15px;padding: 4px 10px;">ID</label>

              </div>
            </div>
            <div>
              <div class="form-floating mb-20">
                <input type="text" class="form-control" style="font-size: 14px; height: 24px"
                       id="jaypark"
                       placeholder="name@example.com">

                <label for="floatingInput" style="font-size: 15px;padding: 4px 10px">PW</label>

                <label for="floatingInput" style="font-size: 15px;padding: 4px 10px">PW</label>

              </div>
              <div class="d-grid gap-2 col-5.mx-auto;">
                <button class="btn btn-primary" type="button" onclick="login()">로그인</button>
              </div>
            </div>


          </div>
        </div>
        <div class="minibox">
          <p class="p"><br>계정이 없으신가요?</br> <a class="a" href="">가입하기</a></p>
        </div>


      </div>

    </div>

</div>


<div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</div>
</body>
</html>
