<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인스타그램 UI 클론코딩</title>

    <!--    웹 폰트어썸, 제이쿼리 임포트-->
    <script src="https://kit.fontawesome.com/bc43dde373.js" crossorigin="anonymous"></script>
    <!--  JQuery Import  -->
    <!--  src 부분을 https 로 변경해주면 로딩이 없어지는 상황이 있었음  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <!--    Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!--    로컬 css, js 임포트-->
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/main-story.css">
    <link rel="stylesheet" href="../static/css/main_feed.css">
    <link rel="stylesheet" href="../static/css/main-footer.css">
    <link rel="stylesheet" href="../static/css/main-optionModal.css">
    <link rel="stylesheet" href="../static/css/main-newPostModal.css">
    <script src="../static/js/main-optionModal.js"></script>

</head>
<body>
<header>
    <!--1. 헤더-->
    <!--헤더 전체로 나눠서 가독성 올리기-->

    <!--            2. 헤더 내부 묶음-->
    <!--    헤더에서 내부 전체를 묶는 용도-->
    <div>
        <!--            3. 내비게이션 바-->
        <!--        nav 태그로 가독성 올리기-->
        <nav>
            <!--            4. 내비게이션 바 div-->
            <!--        내비게이션 바의 크기, 안쪽/바깥 여백-->
            <div class="nav_bar">
                <!--            4.1 내비게이션 바 랩 flex div-->
                <!--                내비게이션 바 하위 태그의 아이템을 가운데로 정렬-->
                <div class="nav_wrap">
                    <!--                5. 헤더 홈버튼 div-->
                    <div class="homebtn_wrap">
                        <!--                    5.1. 페이지를 이동할 주소가 들어간 a 태그-->
                        <a href="/" tabindex="0" class="homebtn_a">
                            <!--                        5.2. 아이콘과 검색까지의 간격을 나누는 flex div-->
                            <div class="homebtn_flex">
                                <!--                            5.3. 아이콘 이미지를 넣는 div-->
                                <div class="homebtn_img_wrap">
                                    <img alt="Instagram" class="homebtn_image"
                                         src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png">
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--                5. 헤더 검색 div-->
                    <div class="searchbar_wrap">
                        <!--                    5.1. 검색 아이콘, 글자 padding div-->
                        <div>

                            <!--                        5.2. 검색 input tag-->
                            <input aria-label="입력 검색" autocapitalize="none" class="searchbar_input" placeholder="검색"
                                   type="text">
                            <!--                        5.2. 가짜 검색 absolute div-->
                            <div class="searchbar_fake_input1">
                                <!--                                5.3 가짜 검색 인풋 flex div-->
                                <div class="searchbar_fake_input2">
                                    <!--                                5.4. 검색 아이콘 i -->
                                    <!--                                    <i class="fa-solid fa-magnifying-glass searchbar_icon"></i>-->
                                    <!--                                5.4. 검색 이전 표시 span-->
                                    <!--                                    <span class="searchbar_span">검색</span>-->
                                </div>
                            </div>


                            <!--                        5.2. 검색 이 후 내용 지우기 아이콘 div-->
                            <div>
                                <i class="fa-solid fa-circle-xmark searchbar_close" style="display: none"></i>
                            </div>
                            <!--                        5.2. 최근 검색항목 div-->
                            <div>
                                <!--                            5.3. 최근 검색항목 뼈대 div-->
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                5. 헤더 아이콘즈 div-->
                    <div class="icons_wrap">
                        <!--                    5.1. 아이콘 flex div-->
                        <div class="icons_flex">
                            <!--                        5.2 home 아이콘 div-->
                            <div class="icons_div" style="margin: 0">
                                <!--                            5.3 아이콘 이미지 svg-->
                                <i class="fa-solid fa-house icons_icons fa-xl"></i>
                            </div>
                            <!--                        5.2 explore 아이콘 div-->
                            <div class="icons_div">
                                <!--                            5.3 아이콘 이미지 i-->
                                <i class="fa-solid fa-paper-plane icons_icons fa-xl"></i>
                            </div>
                            <!--                        5.2 plus 아이콘 div-->
                            <div class="icons_div">
                                <!--                            5.3 아이콘 이미지 i-->
                                <i class="fa-regular fa-square-plus icons_icons fa-xl"></i>
                            </div>
                            <!--                        5.2 compass 아이콘 div-->
                            <div class="icons_div">
                                <!--                            5.3 아이콘 이미지 i-->
                                <i class="fa-regular fa-compass icons_icons fa-xl"></i>
                            </div>
                            <!--                        5.2 heart 아이콘 div-->
                            <div class="icons_div">
                                <!--                            5.3 아이콘 이미지 i-->
                                <i class="fa-regular fa-heart icons_icons fa-xl"></i>
                            </div>
                            <!--                        5.2 profile 아이콘 div-->
                            <div class="icons_div">
                                <!--                            5.3 아이콘 이미지 i-->
                                <i class="fa-solid fa-circle icons_icons fa-xl" onclick="location.href='/mypage'"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </nav>
    </div>
</header>
<!-- 1. 메인 main -->
<main>
    <!--    2. 스토리필드 field_story -->
    <div class="field_story">
        <!--        3. 프레젠테이션 div -->
        <div class="wrap_presentation">
            <!--            4. 프레젠테이션 flex div -->
            <div class="presentation_flex">
                <!--                5. 프레젠테이션 여백 div -->
                <div class="presentation_margin"></div>
                <!--            5. 프레젠테이션 프로필 묶음 div -->
                <div class="presentation_list">
                    <!--                    6. 프레젠테이션 프로필 div -->
                    <div class="presentation_profile">
                        <!--                    7. 프로필 이미지 묶음 div -->
                        <div class="presentation_profile_image">
                            <!--                            8. 프로필 테두리 div-->
                            <div class="presentation_profile_image_border"></div>
                            <!--                            8. 프로필 이미지 div -->
                            <div class="presentation_profile_image_canvas profile_mona"></div>
                        </div>
                        <!--                    7. 프로필 이름 a-->
                        <a class="presentation_profile_name">yungsang-H</a>
                    </div>
                    <!--                    6. 프레젠테이션 프로필 div -->
                    <div class="presentation_profile">
                        <!--                    7. 프로필 이미지 묶음 div -->
                        <div class="presentation_profile_image">
                            <!--                            8. 프로필 테두리 div-->
                            <div class="presentation_profile_image_border"></div>
                            <!--                            8. 프로필 이미지 div -->
                            <div class="presentation_profile_image_canvas profile_van"></div>
                        </div>
                        <!--                    7. 프로필 이름 a-->
                        <a class="presentation_profile_name">GoldVedio</a>
                    </div>
                    <!--                    6. 프레젠테이션 프로필 div -->
                    <div class="presentation_profile">
                        <!--                    7. 프로필 이미지 묶음 div -->
                        <div class="presentation_profile_image">
                            <!--                            8. 프로필 테두리 div-->
                            <div class="presentation_profile_image_border"></div>
                            <!--                            8. 프로필 이미지 div -->
                            <div class="presentation_profile_image_canvas profile_love"></div>
                        </div>
                        <!--                    7. 프로필 이름 a-->
                        <a class="presentation_profile_name">Migdracios</a>
                    </div>
                </div>
            </div>
        </div>
        <!--        3. 스토리카드 div -->
        <div class="wrap_storycards">
            <!--            4. 스토리카드 상단 div -->
            <div class="storycards_top">
                <!--                5. 스토리카드 상단 flex div -->
                <div class="storycards_top_flex">
                    <!--                    6. 스토리카드 상단 프로필 -->
                    <div class="storycards_top_profile">
                        <!--                        7. 스토리카드 프로필 이미지 div -->
                        <div class="storycards_top_profile_image profile_mona"></div>
                        <!--                        7. 스토리카드 프로필 이름 div -->
                        <div class="storycards_top_profile_name">
                            <!--                            8. 스토리카드 프로필 닉네임 -->
                            <div class="storycards_top_profile_name_nickname">yungsang-H</div>
                            <!--                            8. 스토리카드 프로필 위치 -->
                            <div class="storycards_top_profile_name_location">광주광역시</div>
                        </div>
                    </div>
                    <!--                    6. 스토리카드 상단 옵션 div -->
                    <div class="storycards_top_option">

                        <i class="fa-solid fa-ellipsis s40 option-modal1" onclick="showOptionModal(1)"></i>

                    </div>
                </div>
            </div>
            <!--            4. 스토리카드 중단 div -->
            <div class="storycards_middle">
                <!--                5. 스토리카드 중단 캐러셀 div -->
                <div id="carousel-one" class="carousel slide" data-bs-ride="carousel">
                    <!--                    캐러셀 인디케이터 -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-one" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="##carousel-one" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="##carousel-one" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <!--                                캐러셀 아이템-->
                        <div class="carousel-item active">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://trees.gamemeca.com/wp-content/uploads/2019/11/191112_diablo2_2.jpg"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://i.redd.it/l5k1wclerzi61.jpg"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://p4.wallpaperbetter.com/wallpaper/570/244/986/diablo-diablo-immortal-diablo-2-diablo-3-reaper-of-souls-diablo-4-hd-wallpaper-preview.jpg"
                                 alt="...">
                        </div>
                    </div>

                    <!--                7. 스토리카드 중단 이미지 넘기기 아이콘 div -->
                    <div class="storycards_middle_next"
                         data-bs-target="#carousel-one"
                         data-bs-slide="next">
                        <i class="fa-solid fa-circle-chevron-right btn_next"></i>
                    </div>
                    <!--                7. 스토리카드 중단 이미지 되돌리기 아이콘 div -->
                    <div class="storycards_middle_prev"
                         data-bs-target="#carousel-one"
                         data-bs-slide="prev">
                        <i class="fa-solid fa-circle-chevron-left btn_prev"></i>
                    </div>
                    <!--                7. 스토리카드 중단 태그 유저 아이콘 div -->
                    <div class="storycards_middle_taguser">
                        <!--                        8. 유저 아이콘 i -->
                        <i class="fa-solid fa-circle-user s28"></i>
                    </div>
                    <!--                7. 스토리카드 중단 음소거 아이콘 div -->
                    <div class="storycards_middle_muteicon">
                        <!--                        8. 음소거 아이콘 i -->
                        <i class="fa-solid fa-circle-xmark s28"></i>
                    </div>
                </div>

            </div>
            <!--            4. 스토리카드 하단 div -->
            <div class="storycards_bottom">
                <!--                5. 스토리카드 하단 아이콘즈 div -->
                <div class="storycards_bottom_icons">
                    <!--                    6. 스토리카드 아이콘즈 flex div -->
                    <div class="storycards_bottom_icons_flex">
                        <!--                        7. 스토리카드 레프트 아이콘 div -->
                        <div class="storycards_bottom_icons_left">
                            <!--                            8. 스토리카드 레프트 아이콘 하트 div -->
                            <div class="storycards_bottom_icons_left_heart">
                                <i class="fa-regular fa-heart s24"></i>
                            </div>
                            <!--                            8. 스토리카드 레프트 아이콘 코멘트 div -->
                            <div class="storycards_bottom_icons_left_comment">
                                <i class="fa-regular fa-comment s24"></i>
                            </div>
                            <!--                            8. 스토리카드 레프트 아이콘 익스플로어 div -->
                            <div class="storycards_bottom_icons_left_explore">
                                <i class="fa-regular fa-paper-plane s24"></i>
                            </div>
                        </div>
                        <!--                        7. 스토리카드 미들 아이콘 div -->
                        <div class="storycards_bottom_icons_middle">
                            <!--                            8. 스토리카드 미들 아이콘 스테이터스 div -->
                            <div class="storycards_bottom_icons_middle_status">
                                <i class="fa-solid fa-circle s6"></i>
                                <i class="fa-regular fa-circle s6"></i>
                                <i class="fa-regular fa-circle s6"></i>
                            </div>
                        </div>
                        <!--                        7. 스토리카드 라이트 아이콘 div -->
                        <div class="storycards_bottom_icons_right">
                            <!--                            8. 스토리카드 라이트 아이콘 북마크 div -->
                            <div class="storycards_bottom_icons_right_bookmark">
                                <i class="fa-regular fa-bookmark s24" style="width: 24px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                5. 스토리카드 하단 좋아요 div -->
                <div class="storycards_bottom_likes">
                    <!--                    6. 스토리카드 하단 좋아요 flex div -->
                    <div class="storycards_bottom_likes_flex">
                        <!--                    6.스토리카드 하단 좋아요 아이콘 묶음 div -->
                        <div class="storycards_bottom_likes_icons">
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 1 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_mona likes_icon1"></div>
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 2 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_love likes_icon2"></div>
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 3 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_van likes_icon3"></div>

                        </div>
                        <!--                    7. 스토리카드 하단 좋아요 span -->
                        <div class="storycards_bottom_likes_span">
                            <span class="like_user">migdracios</span>님<span class="like_count"> 외 124명</span>이 좋아합니다
                        </div>

                    </div>

                </div>
                <!--                5. 스토리카드 하단 스토리 div -->
                <div class="storycards_bottom_story">
                    <!--                    6. 스토리카드 하단 내용 부문 div -->
                    <div class="storycards_bottom_story_detail">
                        <!--                    7. 스토리카드 하단 스토리 아이디 div -->
                        <div class="storycards_bottom_story_user">yungsang-H</div>
                        <!--                    7. 스토리카드 하단 스토리 내용 div -->
                        <div class="storycards_bottom_story_data">로직을 설계해서 기획부터 목업, 그리고 코딩까지</div>
                        <!--                    7. 스토리카드 하단 스토리 더보기 버튼-->
                        <div class="storycards_bottom_story_morebtn">...<span>더 보기</span></div>
                    </div>
                    <!--                    6. 스토리카드 하단 스토리 댓글보기 div -->
                    <div class="storycards_bottom_story_viewcomment">댓글 8개 모두 보기</div>
                    <!--                    6. 스토리카드 하단 스토리 작성일자 div-->
                    <div class="storycards_bottom_story_post">4월 28일</div>
                </div>
                <!--                5. 스토리카드 하단 댓글 div -->
                <div class="storycards_bottom_comment">
                    <!--                    6. 스토리카드 하단 댓글 flex div -->
                    <div class="storycards_bottom_comment_flex">
                        <!--                    7. 스토리카드 하단 댓글 이모지 추가 div -->
                        <div class="storycards_bottom_comment_emoji">
                            <i class="fa-regular fa-face-smile s24"></i>
                        </div>
                        <!--                    7. 스토리카드 하단 댓글 인풋 div -->
                        <div class="storycards_bottom_comment_input">
                            <input aria-label="입력 댓글" autocapitalize="none" placeholder="댓글 달기..." type="text">
                        </div>
                        <!--                    7. 스토리카드 하단 댓글 게시버튼 div -->
                        <div class="storycards_bottom_comment_postbtn">
                            <!--                            8. 스토리카드 하단 댓글 게시 폰트-->
                            <a>게시</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--        3. 스토리카드2 div -->
        <div class="wrap_storycards">
            <!--            4. 스토리카드 상단 div -->
            <div class="storycards_top">
                <!--                5. 스토리카드 상단 flex div -->
                <div class="storycards_top_flex">
                    <!--                    6. 스토리카드 상단 프로필 -->
                    <div class="storycards_top_profile">
                        <!--                        7. 스토리카드 프로필 이미지 div -->
                        <div class="storycards_top_profile_image profile_van"></div>
                        <!--                        7. 스토리카드 프로필 이름 div -->
                        <div class="storycards_top_profile_name">
                            <!--                            8. 스토리카드 프로필 닉네임 -->
                            <div class="storycards_top_profile_name_nickname">GoldVedio</div>
                            <!--                            8. 스토리카드 프로필 위치 -->
                            <div class="storycards_top_profile_name_location">Gather Town</div>
                        </div>
                    </div>
                    <!--                    6. 스토리카드 상단 옵션 div -->
                    <div class="storycards_top_option">

                        <i class="fa-solid fa-ellipsis s40 option-modal2" onclick="showOptionModal(2)"></i>

                    </div>
                </div>
            </div>
            <!--            4. 스토리카드 중단 div -->
            <div class="storycards_middle">
                <!--                5. 스토리카드 중단 캐러셀 div -->
                <div id="carousel-two" class="carousel slide" data-bs-ride="carousel">
                    <!--                    캐러셀 인디케이터 -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-two" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="##carousel-two" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="##carousel-two" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <!--                                캐러셀 아이템-->
                        <div class="carousel-item active">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://miro.medium.com/max/1400/1*HKzwO8fn-T9ZQT3a2CodXg.jpeg"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJA9xs5hxwhaqhqA18aA-kbv0_ysMgVd8F3A&usqp=CAU"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/a5/e9/63/a5e9638f-b605-515e-70c7-894faffb4aa7/contsched.lyaauxjc.lsr/1200x630bb.png"
                                 alt="...">
                        </div>
                    </div>
                    <!--                7. 스토리카드 중단 이미지 넘기기 아이콘 div -->
                    <div class="storycards_middle_next"
                         data-bs-target="#carousel-two"
                         data-bs-slide="next">
                        <i class="fa-solid fa-circle-chevron-right btn_next"></i>
                    </div>
                    <!--                7. 스토리카드 중단 이미지 되돌리기 아이콘 div -->
                    <div class="storycards_middle_prev"
                         data-bs-target="#carousel-two"
                         data-bs-slide="prev">
                        <i class="fa-solid fa-circle-chevron-left btn_prev"></i>
                    </div>
                    <!--                7. 스토리카드 중단 태그 유저 아이콘 div -->
                    <div class="storycards_middle_taguser">
                        <!--                        8. 유저 아이콘 i -->
                        <i class="fa-solid fa-circle-user s28"></i>
                    </div>
                    <!--                7. 스토리카드 중단 음소거 아이콘 div -->
                    <div class="storycards_middle_muteicon">
                        <!--                        8. 음소거 아이콘 i -->
                        <i class="fa-solid fa-circle-xmark s28"></i>
                    </div>
                </div>

            </div>
            <!--            4. 스토리카드 하단 div -->
            <div class="storycards_bottom">
                <!--                5. 스토리카드 하단 아이콘즈 div -->
                <div class="storycards_bottom_icons">
                    <!--                    6. 스토리카드 아이콘즈 flex div -->
                    <div class="storycards_bottom_icons_flex">
                        <!--                        7. 스토리카드 레프트 아이콘 div -->
                        <div class="storycards_bottom_icons_left">
                            <!--                            8. 스토리카드 레프트 아이콘 하트 div -->
                            <div class="storycards_bottom_icons_left_heart">
                                <i class="fa-regular fa-heart s24"></i>
                            </div>
                            <!--                            8. 스토리카드 레프트 아이콘 코멘트 div -->
                            <div class="storycards_bottom_icons_left_comment">
                                <i class="fa-regular fa-comment s24"></i>
                            </div>
                            <!--                            8. 스토리카드 레프트 아이콘 익스플로어 div -->
                            <div class="storycards_bottom_icons_left_explore">
                                <i class="fa-regular fa-paper-plane s24"></i>
                            </div>
                        </div>
                        <!--                        7. 스토리카드 미들 아이콘 div -->
                        <div class="storycards_bottom_icons_middle">
                            <!--                            8. 스토리카드 미들 아이콘 스테이터스 div -->
                            <div class="storycards_bottom_icons_middle_status">
                                <i class="fa-solid fa-circle s6"></i>
                                <i class="fa-regular fa-circle s6"></i>
                                <i class="fa-regular fa-circle s6"></i>
                            </div>
                        </div>
                        <!--                        7. 스토리카드 라이트 아이콘 div -->
                        <div class="storycards_bottom_icons_right">
                            <!--                            8. 스토리카드 라이트 아이콘 북마크 div -->
                            <div class="storycards_bottom_icons_right_bookmark">
                                <i class="fa-regular fa-bookmark s24" style="width: 24px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                5. 스토리카드 하단 좋아요 div -->
                <div class="storycards_bottom_likes">
                    <!--                    6. 스토리카드 하단 좋아요 flex div -->
                    <div class="storycards_bottom_likes_flex">
                        <!--                    6.스토리카드 하단 좋아요 아이콘 묶음 div -->
                        <div class="storycards_bottom_likes_icons">
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 1 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_mona likes_icon1"></div>
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 2 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_love likes_icon2"></div>
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 3 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_van likes_icon3"></div>

                        </div>
                        <!--                    7. 스토리카드 하단 좋아요 span -->
                        <div class="storycards_bottom_likes_span">
                            <span class="like_user">yungsang-H</span>님<span class="like_count"> 외 76명</span>이 좋아합니다
                        </div>

                    </div>

                </div>
                <!--                5. 스토리카드 하단 스토리 div -->
                <div class="storycards_bottom_story">
                    <!--                    6. 스토리카드 하단 내용 부문 div -->
                    <div class="storycards_bottom_story_detail">
                        <!--                    7. 스토리카드 하단 스토리 아이디 div -->
                        <div class="storycards_bottom_story_user">GoldVedio</div>
                        <!--                    7. 스토리카드 하단 스토리 내용 div -->
                        <div class="storycards_bottom_story_data">스파르타 코딩클럽 내일배움캠프는 정말이지 최고야!!</div>
                        <!--                    7. 스토리카드 하단 스토리 더보기 버튼-->
                        <div class="storycards_bottom_story_morebtn">...<span>더 보기</span></div>
                    </div>
                    <!--                    6. 스토리카드 하단 스토리 댓글보기 div -->
                    <div class="storycards_bottom_story_viewcomment">댓글 4개 모두 보기</div>
                    <!--                    6. 스토리카드 하단 스토리 작성일자 div-->
                    <div class="storycards_bottom_story_post">3일전</div>
                </div>
                <!--                5. 스토리카드 하단 댓글 div -->
                <div class="storycards_bottom_comment">
                    <!--                    6. 스토리카드 하단 댓글 flex div -->
                    <div class="storycards_bottom_comment_flex">
                        <!--                    7. 스토리카드 하단 댓글 이모지 추가 div -->
                        <div class="storycards_bottom_comment_emoji">
                            <i class="fa-regular fa-face-smile s24"></i>
                        </div>
                        <!--                    7. 스토리카드 하단 댓글 인풋 div -->
                        <div class="storycards_bottom_comment_input">
                            <input aria-label="입력 댓글" autocapitalize="none" placeholder="댓글 달기..." type="text">
                        </div>
                        <!--                    7. 스토리카드 하단 댓글 게시버튼 div -->
                        <div class="storycards_bottom_comment_postbtn">
                            <!--                            8. 스토리카드 하단 댓글 게시 폰트-->
                            <a>게시</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--        3. 스토리카드3 div -->
        <div class="wrap_storycards">
            <!--            4. 스토리카드 상단 div -->
            <div class="storycards_top">
                <!--                5. 스토리카드 상단 flex div -->
                <div class="storycards_top_flex">
                    <!--                    6. 스토리카드 상단 프로필 -->
                    <div class="storycards_top_profile">
                        <!--                        7. 스토리카드 프로필 이미지 div -->
                        <div class="storycards_top_profile_image profile_mona"></div>
                        <!--                        7. 스토리카드 프로필 이름 div -->
                        <div class="storycards_top_profile_name">
                            <!--                            8. 스토리카드 프로필 닉네임 -->
                            <div class="storycards_top_profile_name_nickname">migdracios</div>
                            <!--                            8. 스토리카드 프로필 위치 -->
                            <div class="storycards_top_profile_name_location">이곳은 지옥인가...</div>
                        </div>
                    </div>
                    <!--                    6. 스토리카드 상단 옵션 div -->
                    <div class="storycards_top_option">

                        <i class="fa-solid fa-ellipsis s40 option-modal3" onclick="showOptionModal(3)"></i>

                    </div>
                </div>
            </div>
            <!--            4. 스토리카드 중단 div -->
            <div class="storycards_middle">
                <!--                5. 스토리카드 중단 캐러셀 div -->
                <div id="carousel-three" class="carousel slide" data-bs-ride="carousel">
                    <!--                    캐러셀 인디케이터 -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-three" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-three" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel-three" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <!--                                캐러셀 아이템-->
                        <div class="carousel-item active">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://images.pexels.com/photos/11662249/pexels-photo-11662249.jpeg?cs=srgb&dl=pexels-mathilde-langevin-11662249.jpg&fm=jpg"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://images.pexels.com/photos/11086696/pexels-photo-11086696.jpeg?cs=srgb&dl=pexels-irina-demyanovskikh-11086696.jpg&fm=jpg"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img class="carousel-img post_main_picture_img d-block w-100"
                                 src="https://images.pexels.com/photos/8175058/pexels-photo-8175058.jpeg?cs=srgb&dl=pexels-lisa-fotios-8175058.jpg&fm=jpg"
                                 alt="...">
                        </div>
                    </div>
                    <!--                7. 스토리카드 중단 이미지 넘기기 아이콘 div -->
                    <div class="storycards_middle_next"
                         data-bs-target="#carousel-three"
                         data-bs-slide="next">
                        <i class="fa-solid fa-circle-chevron-right btn_next"></i>
                    </div>
                    <!--                7. 스토리카드 중단 이미지 되돌리기 아이콘 div -->
                    <div class="storycards_middle_prev"
                         data-bs-target="#carousel-three"
                         data-bs-slide="prev">
                        <i class="fa-solid fa-circle-chevron-left btn_prev"></i>
                    </div>
                    <!--                7. 스토리카드 중단 태그 유저 아이콘 div -->
                    <div class="storycards_middle_taguser">
                        <!--                        8. 유저 아이콘 i -->
                        <i class="fa-solid fa-circle-user s28"></i>
                    </div>
                    <!--                7. 스토리카드 중단 음소거 아이콘 div -->
                    <div class="storycards_middle_muteicon">
                        <!--                        8. 음소거 아이콘 i -->
                        <i class="fa-solid fa-circle-xmark s28"></i>
                    </div>
                </div>
            </div>
            <!--            4. 스토리카드 하단 div -->
            <div class="storycards_bottom">
                <!--                5. 스토리카드 하단 아이콘즈 div -->
                <div class="storycards_bottom_icons">
                    <!--                    6. 스토리카드 아이콘즈 flex div -->
                    <div class="storycards_bottom_icons_flex">
                        <!--                        7. 스토리카드 레프트 아이콘 div -->
                        <div class="storycards_bottom_icons_left">
                            <!--                            8. 스토리카드 레프트 아이콘 하트 div -->
                            <div class="storycards_bottom_icons_left_heart">
                                <i class="fa-regular fa-heart s24"></i>
                            </div>
                            <!--                            8. 스토리카드 레프트 아이콘 코멘트 div -->
                            <div class="storycards_bottom_icons_left_comment">
                                <i class="fa-regular fa-comment s24"></i>
                            </div>
                            <!--                            8. 스토리카드 레프트 아이콘 익스플로어 div -->
                            <div class="storycards_bottom_icons_left_explore">
                                <i class="fa-regular fa-paper-plane s24"></i>
                            </div>
                        </div>
                        <!--                        7. 스토리카드 미들 아이콘 div -->
                        <div class="storycards_bottom_icons_middle">
                            <!--                            8. 스토리카드 미들 아이콘 스테이터스 div -->
                            <div class="storycards_bottom_icons_middle_status">
                                <i class="fa-solid fa-circle s6"></i>
                                <i class="fa-regular fa-circle s6"></i>
                                <i class="fa-regular fa-circle s6"></i>
                            </div>
                        </div>
                        <!--                        7. 스토리카드 라이트 아이콘 div -->
                        <div class="storycards_bottom_icons_right">
                            <!--                            8. 스토리카드 라이트 아이콘 북마크 div -->
                            <div class="storycards_bottom_icons_right_bookmark">
                                <i class="fa-regular fa-bookmark s24" style="width: 24px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                5. 스토리카드 하단 좋아요 div -->
                <div class="storycards_bottom_likes">
                    <!--                    6. 스토리카드 하단 좋아요 flex div -->
                    <div class="storycards_bottom_likes_flex">
                        <!--                    6.스토리카드 하단 좋아요 아이콘 묶음 div -->
                        <div class="storycards_bottom_likes_icons">
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 1 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_mona likes_icon1"></div>
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 2 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_love likes_icon2"></div>
                            <!--                        7. 스토리카드 하단 좋아요 아이콘 3 div-->
                            <div class="storycards_bottom_likes_icons_icon profile_van likes_icon3"></div>

                        </div>
                        <!--                    7. 스토리카드 하단 좋아요 span -->
                        <div class="storycards_bottom_likes_span">
                            <span class="like_user">GoldVedio</span>님<span class="like_count"> 외 1065명</span>이 좋아합니다
                        </div>

                    </div>

                </div>
                <!--                5. 스토리카드 하단 스토리 div -->
                <div class="storycards_bottom_story">
                    <!--                    6. 스토리카드 하단 내용 부문 div -->
                    <div class="storycards_bottom_story_detail">
                        <!--                    7. 스토리카드 하단 스토리 아이디 div -->
                        <div class="storycards_bottom_story_user">migdracios</div>
                        <!--                    7. 스토리카드 하단 스토리 내용 div -->
                        <div class="storycards_bottom_story_data">전능하신 아카라트여 영원한 빛으로 날 보호하소서;;</div>
                        <!--                    7. 스토리카드 하단 스토리 더보기 버튼-->
                        <div class="storycards_bottom_story_morebtn">...<span>더 보기</span></div>
                    </div>
                    <!--                    6. 스토리카드 하단 스토리 댓글보기 div -->
                    <div class="storycards_bottom_story_viewcomment">댓글 302개 모두 보기</div>
                    <!--                    6. 스토리카드 하단 스토리 작성일자 div-->
                    <div class="storycards_bottom_story_post">1일전</div>
                </div>
                <!--                5. 스토리카드 하단 댓글 div -->
                <div class="storycards_bottom_comment">
                    <!--                    6. 스토리카드 하단 댓글 flex div -->
                    <div class="storycards_bottom_comment_flex">
                        <!--                    7. 스토리카드 하단 댓글 이모지 추가 div -->
                        <div class="storycards_bottom_comment_emoji">
                            <i class="fa-regular fa-face-smile s24"></i>
                        </div>
                        <!--                    7. 스토리카드 하단 댓글 인풋 div -->
                        <div class="storycards_bottom_comment_input">
                            <input aria-label="입력 댓글" autocapitalize="none" placeholder="댓글 달기..." type="text">
                        </div>
                        <!--                    7. 스토리카드 하단 댓글 게시버튼 div -->
                        <div class="storycards_bottom_comment_postbtn">
                            <!--                            8. 스토리카드 하단 댓글 게시 폰트-->
                            <a>게시</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--    2. 푸터필드 field_footer -->
    <div class="field_footer">
        <!--        3. 푸터 flex div -->
        <div class="footer_flex">
            <!--            4. 푸터 프로필 div -->
            <div class="footer_profile">
                <!--                5. 푸터 프로필 flex div -->
                <div class="footer_profile_flex">
                    <!--                    6. 푸터 프로필 이미지 div -->
                    <div class="footer_profile_image"></div>
                    <!--                    6. 푸터 프로필 유저 div -->
                    <div class="footer_profile_user">
                        <!--                        7. 푸터 프로필 유저 닉네임 -->
                        <div class="footer_profile_user_nickname">migdracios</div>
                        <!--                        7. 푸터 프로필 유저 이름 -->
                        <div class="footer_profile_user_name">Yungsang Hwang</div>
                    </div>
                    <!--                    6. 푸터 프로필 전환 div -->
                    <div class="footer_profile_user_change">전환</div>
                </div>
            </div>
            <!--            4. 푸터 추천 div-->
            <div class="footer_recommend">
                <!--                5. 푸터 추천 상단부 div -->
                <div class="footer_recommend_top">
                    <!--                    6. 푸터 추천 소개 div -->
                    <div class="footer_recommend_top_intro">회원님을 위한 추천</div>
                    <!--                    6. 푸터 추천 보기 div -->
                    <div class="footer_recommend_top_view">모두 보기</div>
                </div>
                <!--                5. 푸터 추천 중단부 div -->
                <div class="footer_recommend_middle">
                    <!--                    6. 푸터 추천 flex div -->
                    <div class="footer_recommend_middle_flex">
                        <!--                        7. 푸터 추천 리스트 묶음 div -->
                        <div class="footer_recommend_middle_list">
                            <!--                            8. 푸터 추천 리스트 이미지 div -->
                            <div class="footer_recommend_middle_list_image image_vam"></div>
                            <!--                            8. 푸터 추천 리스트 유저 div -->
                            <div class="footer_recommend_middle_list_user">
                                <!--                                9. 푸터 추천 리스트 유저 닉네임 div -->
                                <div class="footer_recommend_middle_list_user_nickname">vampire_survivors</div>
                                <!--                                9. 푸터 추천 리스트 유저 추천이유 div -->
                                <div class="footer_recommend_middle_list_user_reason">회원님을 위한 추천</div>
                            </div>
                            <!--                            8. 푸터 추천 리스트 팔로우 div -->
                            <div class="footer_recommend_middle_list_follow">팔로우</div>
                        </div>
                    </div>
                    <!--                    6. 푸터 추천 flex div2 -->
                    <div class="footer_recommend_middle_flex">
                        <!--                        7. 푸터 추천 리스트 묶음 div -->
                        <div class="footer_recommend_middle_list">
                            <!--                            8. 푸터 추천 리스트 이미지 div -->
                            <div class="footer_recommend_middle_list_image image_inner"></div>
                            <!--                            8. 푸터 추천 리스트 유저 div -->
                            <div class="footer_recommend_middle_list_user">
                                <!--                                9. 푸터 추천 리스트 유저 닉네임 div -->
                                <div class="footer_recommend_middle_list_user_nickname">dr_innerside</div>
                                <!--                                9. 푸터 추천 리스트 유저 추천이유 div -->
                                <div class="footer_recommend_middle_list_user_reason">회원님을 위한 추천</div>
                            </div>
                            <!--                            8. 푸터 추천 리스트 팔로우 div -->
                            <div class="footer_recommend_middle_list_follow">팔로우</div>
                        </div>
                    </div>
                    <!--                    6. 푸터 추천 flex div3 -->
                    <div class="footer_recommend_middle_flex">
                        <!--                        7. 푸터 추천 리스트 묶음 div -->
                        <div class="footer_recommend_middle_list">
                            <!--                            8. 푸터 추천 리스트 이미지 div -->
                            <div class="footer_recommend_middle_list_image image_tun"></div>
                            <!--                            8. 푸터 추천 리스트 유저 div -->
                            <div class="footer_recommend_middle_list_user">
                                <!--                                9. 푸터 추천 리스트 유저 닉네임 div -->
                                <div class="footer_recommend_middle_list_user_nickname">tunEmvegnomb</div>
                                <!--                                9. 푸터 추천 리스트 유저 추천이유 div -->
                                <div class="footer_recommend_middle_list_user_reason">회원님을 위한 추천</div>
                            </div>
                            <!--                            8. 푸터 추천 리스트 팔로우 div -->
                            <div class="footer_recommend_middle_list_follow">팔로우</div>
                        </div>
                    </div>
                    <!--                    6. 푸터 추천 flex div4 -->
                    <div class="footer_recommend_middle_flex">
                        <!--                        7. 푸터 추천 리스트 묶음 div -->
                        <div class="footer_recommend_middle_list">
                            <!--                            8. 푸터 추천 리스트 이미지 div -->
                            <div class="footer_recommend_middle_list_image image_gold"></div>
                            <!--                            8. 푸터 추천 리스트 유저 div -->
                            <div class="footer_recommend_middle_list_user">
                                <!--                                9. 푸터 추천 리스트 유저 닉네임 div -->
                                <div class="footer_recommend_middle_list_user_nickname">fury_gamer_zz</div>
                                <!--                                9. 푸터 추천 리스트 유저 추천이유 div -->
                                <div class="footer_recommend_middle_list_user_reason">최근 생성한 인스타그램 계정</div>
                            </div>
                            <!--                            8. 푸터 추천 리스트 팔로우 div -->
                            <div class="footer_recommend_middle_list_follow">팔로우</div>
                        </div>
                    </div>
                    <!--                    6. 푸터 추천 flex div5 -->
                    <div class="footer_recommend_middle_flex">
                        <!--                        7. 푸터 추천 리스트 묶음 div -->
                        <div class="footer_recommend_middle_list">
                            <!--                            8. 푸터 추천 리스트 이미지 div -->
                            <div class="footer_recommend_middle_list_image image_yun"></div>
                            <!--                            8. 푸터 추천 리스트 유저 div -->
                            <div class="footer_recommend_middle_list_user">
                                <!--                                9. 푸터 추천 리스트 유저 닉네임 div -->
                                <div class="footer_recommend_middle_list_user_nickname ">yungsang-H</div>
                                <!--                                9. 푸터 추천 리스트 유저 추천이유 div -->
                                <div class="footer_recommend_middle_list_user_reason">당신을 팔로우 하고 있습니다</div>
                            </div>
                            <!--                            8. 푸터 추천 리스트 팔로우 div -->
                            <div class="footer_recommend_middle_list_follow">팔로우</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            4. 푸터 정보 div -->
            <div class="footer_info">
                <!--                5. 푸터 정보 네비게이션 div -->
                <div class="footer_info_nav">
                    <!--                    6. 푸터 내비게이션 리스트 -->
                    <ul class="footer_info_list">
                        <!--                        7. 푸터 리스트 -->
                        <li><a>소개</a></li>
                        <li><a>도움말</a></li>
                        <li>홍보센터</li>
                        <li>API</li>
                        <li>채용정보</li>
                        <li>개인정보처리방침</li>
                        <li>약관</li>
                        <li>위치</li>
                        <li>인기계정</li>
                        <li>해시태그</li>
                        <li>언어</li>
                    </ul>
                </div>
                <!--                5. 푸터 정보 회사이름 div -->
                <div class="footer_info_corp">© 2022 INSTAGRAM FROM META</div>
            </div>
        </div>
    </div>
</main>
<!--modal-->
<!--optionModal-->
<div class="my-modal-bg" id="my-modal-bg">
    <div class="my-modal-case" id="my-modal-case">
        <div class="my-modal" id="my-modal">
            <button class="my-modal-btn btn1">신고</button>
            <button class="my-modal-btn btn2">팔로우 취소</button>
            <button class="my-modal-btn btn3">게시물로 이동</button>
            <button class="my-modal-btn btn4">공유 대상...</button>
            <button class="my-modal-btn btn5">링크 복사</button>
            <button class="my-modal-btn btn6">퍼가기</button>
            <button class="my-modal-btn btn7 modal_cancel_btn7" id="modal_cancel_btn7" onclick="close_modal_btn()">취소</button>
        </div>
    </div>
</div>

<!--newPostModal-->
<!--주위 배경을 검게 만들어주는 태그-->
<div class="modalBackground">
<!--    모달 내용물이 들어갈 그릇 -->
    <div class="modalWindow">
<!--        모달 내용물-->
        <div class="modalPopup"></div>
    </div>
</div>

<script src="../static/js/main-optionModal.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>